
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;

}
form {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.task {
    flex-direction: column;
    width: 100%;
}
.task-main {
    display: flex;
    min-width: 500px;
    max-width: 800px;
    padding: 10px 5px;
    border-top: 1px darkgray solid  ;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.task-main > .listItemText {
    margin-right: 20px;
}
.add-operation {
    margin-left: 20px;
    padding: 10px 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}
.add-operation button{
    margin-left: 15px;
}
.operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
border: transparent ;
    box-shadow: 0 0 20px -2px rgba(66, 68, 90, 1);
margin-bottom: 10px;
    border-radius: 8px;
    min-width: 500px;
    max-width: 800px;

}
.operation button {
    margin-left: 15px;
}
.operation-description{
    margin-right:30px;
}
.time-spent {
    margin-inline: 15px;
}
.time-spent b {
    margin-left: 8px;
}
